@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-purple: #e879f9;
}


body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    
    overflow-y: scroll;
}

div h2,  div p{
    
    margin: 0;
    margin-top: 2px;
}

.black-text{
    color: black;
}

p {
    color: rgb(92, 92, 92);
}

h3 {
    color: black;
    margin: 0;
}

.content{
    display: grid;
    grid-template-columns: 1fr 5fr;
    
    
}

/*Header Selectors*/

.header{
    box-shadow: 6px 7px 12px 1px #cbcbcb ;
    grid-column: 2 / 3;
    background-color: white;

    display: grid;
    grid-template-rows: 1fr 1fr;
    
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 5px;
    
    z-index: 10;
}




.header .top-header{
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding-right: 65px;
    
}

input[type="search"]{
    width: 80%;
    background-color: #e9d5ff;
    border: none;
    border-radius: 16px;
    height: 35px;
    padding: 6px;
}

.header .bottom-header{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8px;
}

.top-header .searchbar{
    gap: 15px;
    display: flex;
    align-items: center;
}

.top-header .upper-right-profile-icons {
    
    display: flex;
    align-items: center;
    gap: 25px ;
    justify-content: end;
}

.bottom-header .main-userinfo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.main-userinfo img {
    width: 70px;
    height: 70px;
}


/*Sidebar selectors*/


.bottom-header .user-buttons{
    justify-content: end;
    align-items: center;
     padding-right: 35px;
    display: flex;
    gap: 25px;

}

.user-buttons button {
    background-color: var(--main-purple);
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 16px;
    border-radius: 20px;
}

img {
    width: 30px;
    height: 30px;
}

.accountpfp-1 {
    width: 40px;
    height: 40px;
}

.sidebar{
    grid-column: 1;
    grid-row: 1 / 3;
    padding-top: 24px;
    background-color: var(--main-purple);
    color: white;
    padding-bottom: 100px;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 55px;
    align-content: start;  
}

.sidebar-header{
    
    padding-left: 12px;
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    gap: 16px;
}

.sidebar-item {
    padding-left: 24px;
}

.sidebar-header img {
    width: 55px;
    height: 55px;
}

.sidebar-header span {
    font-weight: 500;
    
}

.sidebar-item ul {
    display: grid;                   /* The grid way for spacing, would rather do flex but just testing */
    grid-template-columns: 1fr;
    gap: 24px;
}

.sidebar-item ul li{
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    font-size: 24px;
}

.sidebar-item ul li img {
    width: 25px;
    height: 25px;
}

.sidebar-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*Main Content Selectors */


.main-content {
    grid-column: 2 / 3;
    grid-row: 2;
    background-color: rgb(234, 225, 235);

    display: grid;
    grid-template-columns: 3fr 1fr;
    
    gap:24px;
    
    padding-right: 36px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 36px;
}  

.main-content .panels {
    
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    
    grid-auto-rows: 1fr;

    gap: 24px;
}

.panels > h2 {
    grid-column: 1 / -1;
}
.announcements{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 24px;
   
}

.announce-panel {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    
    padding: 16px 24px;
    
    
    height: auto;
    border-radius: 8px;
    gap: 12px;
    
    box-shadow: 6px 7px 12px 1px #cbcbcb ;
    z-index: 2;
}

.announce-panel div {
    padding: 8px;
}

.announce-item h3 {
    font-size: 16px;
}

.announce-item p {
    font-size: 15px;
}

.announce-panel div:not(:last-child) {
    border-bottom: 2px solid rgb(234, 225, 235);
    
    padding-bottom: 8px;
}

.main-content .trending{
  
    grid-column: 2 / 3;
    grid-row: 2 / 3;


    display: grid;
    grid-template-rows: auto 1fr;
    gap: 24px;
}

.trending-panel{
    background-color: white;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    padding: 24px 24px;
    gap: 28px;
    
    box-shadow: 6px 7px 12px 1px #cbcbcb ;
    z-index: 2;
}


.trending-profile{
    display: flex;
    gap: 18px;
    align-items: center;
}

.trending-profile img {
    width: 45px;
    height: 45px;
}


/*.panel-container{
    display: grid;
    height: 100%;
   
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    grid-auto-rows: auto;
    
    gap: 24px;
  
    margin-top: 16px;
} */

.panel-item {
    background-color: white;
    border-radius: 10px;
   
    box-shadow: 6px 7px 12px 1px #cbcbcb ;
 
    display: flex;
    gap: 24px;
}

.panel-content {
    display: flex;
    flex-direction: column;
    padding: 28px 12px 24px 0px ;
}


.color-block {
    background-color: var(--main-purple);
    
    min-width: 10px;
    min-height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 10px 0px 0px 10px;
}

.panel-icons{
   
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding-right: 16px;
    
    margin-top: auto;
}

.panel-item div p {
    font-size: 18px;
}

